<a href="https://colab.research.google.com/github/gnbhub/GnB20212_Python_basic/blob/master/week4/jiwoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
message = "Hello Python"
message = list(message)
message[6] = "B"
message = "".join(message)
print(message)

Hello Bython

In [3]:
nation = []
nation.append("korea")
nation.append("japan")
nation.append([10, 20])
print(nation)

nation = ["korea", "japan"]
nation.insert(1,"china")
nation.insert(1,"england")
print(nation)

['korea', 'japan', [10, 20]]
['korea', 'england', 'china', 'japan']

In [5]:
numbers = [10, 20, 30, 40, 50]
del numbers[1]
print(numbers)
del numbers[1:3]
print(numbers)
del numbers

[10, 30, 40, 50]
[10, 50]

In [6]:
numbers = [10, 20, 30, 40, 50, 20]
numbers.remove(30)
print(numbers)
numbers.remove(20)
print(numbers)
numbers.remove(60)

[10, 20, 40, 50, 20]
[10, 40, 50, 20]

ValueError: ignored

In [7]:
numbers = [10, 20, 30, 40, 50]
del_item = numbers.pop()
print(del_item, numbers)
del_item = numbers.pop()
print(del_item, numbers)
del_item = numbers.pop(1)
print(del_item, numbers)

50 [10, 20, 30, 40]
40 [10, 20, 30]
20 [10, 30]

In [12]:
numbers = [1, 5, 7, 3, 6, 2, 8]
print(sorted(numbers))
print(sorted(numbers, reverse=True))
message = "python"
print(sorted(message))

oldlist = [4, 2, 1, 3]
newlist = oldlist
newlist.sort()
print(oldlist, newlist)

oldlist = [4, 2, 1, 3]
newlist = oldlist[:]
newlist.sort()
print(oldlist, newlist)

numbers = [1, 5, 7, 3, 6, 2, 8]
numbers.reverse()
print(numbers)

[1, 2, 3, 5, 6, 7, 8]
[8, 7, 6, 5, 3, 2, 1]
['h', 'n', 'o', 'p', 't', 'y']
[1, 2, 3, 4] [1, 2, 3, 4]
[4, 2, 1, 3] [1, 2, 3, 4]
[8, 2, 6, 3, 7, 5, 1]

In [13]:
numbers = [4, 7, 6, 3, 1, 8, 5]

for i in range(len(numbers)-1, 0, -1):
    for j in range(i):
        if numbers[j] > numbers[j+1]:
            temp = numbers[j]
            numbers[j] = numbers[j+1]
            numbers[j+1] = temp
    print("pass", len(numbers)-i, ":", numbers)

pass 1 : [4, 6, 3, 1, 7, 5, 8]
pass 2 : [4, 3, 1, 6, 5, 7, 8]
pass 3 : [3, 1, 4, 5, 6, 7, 8]
pass 4 : [1, 3, 4, 5, 6, 7, 8]
pass 5 : [1, 3, 4, 5, 6, 7, 8]
pass 6 : [1, 3, 4, 5, 6, 7, 8]